<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>同保呗</title>
<meta name="keywords" content="同保呗"/> 
<meta name="description" content="同保呗--与用户同心,以科技助力,让保险触手可及" />
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport" />
<meta name="renderer" content="webkit">
<link rel="shortcout icon" href="/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="/css/style.css?v=1">
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css"/>
</head>
<body>
    <div class="app">
        <div class="header-wrapper">
    <div class="header">
        <div class="nav-toggle">
            <i class="iconfont unfold"></i>
        </div>
        <div class="logo">
            <img src="/img/logo.png" alt="同保呗"/>
        </div>
        
        <ul class="nav">
            <li class="nav-item">
                <a href="/"  class="nav-link active" >首页</a>
            </li>
            <!-- <li class="nav-item">
                <a href="/product" >产品</a>
            </li> -->
            <li class="nav-item">
                <a href="/about" >关于同保呗</a>
            </li>
            <li class="nav-item">
                <a href="/manage" >经营资质</a>
            </li>
            <li class="nav-item">
                <a href="/information" >信息披露</a>
            </li>
            <li class="nav-item">
                <a target="_blank" href="http://api.tongbb.net/product/h5/v1?productNo=DDSHNWZSYWX&channelCode=TBB&channelSec=16a5c133cdece9c496902a0371600b5f">产品</a>
            </li>
        </ul>
    </div>
    
</div>
        <div class="index-container">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide banner-item">
                        <img class="banner-bimg" src="/img/banner1.png"/>
                        <div class="banner-text banner-text1">
                            <h3 class="banner-title">同保呗</h3>
                            <h4 class="banner-info">与用户同心，以科技助力<br/>让保险触手可及</h4>
                        </div>
                    </div>
                    <div class="swiper-slide banner-item">
                        <img class="banner-bimg" src="/img/banner2.jpg"/>
                        <div class="banner-text banner-text2">

                            投入点滴 无限保障
                        </div>
                    </div>
                    <div class="swiper-slide banner-item">
                        <img class="banner-bimg" src="/img/banner3.png"/>
                        <div class="banner-text banner-text3">
                            简单保险 快乐生活

                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="feature-wrapper">
                <ul class="feature">
                    <li class="feature-item col-8 col-md-24">
                        <img src="/img/major.png" class="feature-img"/>
                        <div class="feature-info">
                            <strong class="feature-trait">专业</strong>
                            <p class="feature-trait-info">专业团队提供专业化的保险经纪服务，严选优质产品</p>
                        </div>

                    </li>
                    <li class="feature-item col-8 col-md-24">
                        <img src="/img/easy.png" class="feature-img" />
                        <div class="feature-info">
                            <strong class="feature-trait">便捷</strong>
                            <p class="feature-trait-info">互联网化的流畅投保体验，便捷服务一键触达</p>
                        </div>

                    </li>
                    <li class="feature-item col-8 col-md-24">
                        <img src="/img/idea.png" class="feature-img"/>
                        <div class="feature-info">
                            <strong class="feature-trait">创新</strong>
                            <p class="feature-trait-info">以大数据能力为核心，深入互联网场景，创造保险服务体验新模式</p>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-wrapper">
  <div class="copyright">
    Copyright © 2020 金丰（上海）保险经纪有限公司
    <a href="http://beian.miit.gov.cn/" target="_blank">沪ICP备19025860号 </a>
  </div>
</div>

    </div>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js/swiper.min.js"></script>

<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        autoplay: {
            delay: 2000,
            stopOnLastSlide: false,
            disableOnInteraction: true,
        },
        loop: true
    });
</script>
</html>
