<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>同保呗</title>
<meta name="keywords" content="同保呗"/> 
<meta name="description" content="同保呗--与用户同心,以科技助力,让保险触手可及" />
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport" />
<meta name="renderer" content="webkit">
<link rel="shortcout icon" href="/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="/css/style.css?v=1">
</head>
<body>
    <div class="app">
        <div class="header-wrapper">
    <div class="header">
        <div class="nav-toggle">
            <i class="iconfont unfold"></i>
        </div>
        <div class="logo">
            <img src="/img/logo.png" alt="同保呗"/>
        </div>
        
        <ul class="nav">
            <li class="nav-item">
                <a href="/"  >首页</a>
            </li>
            <!-- <li class="nav-item">
                <a href="/product"  class="nav-link active">产品</a>
            </li> -->
            <li class="nav-item">
                <a href="/about" >关于同保呗</a>
            </li>
            <li class="nav-item">
                <a href="/manage" >经营资质</a>
            </li>
            <li class="nav-item">
                <a href="/information" >信息披露</a>
            </li>
            <li class="nav-item">
                <a target="_blank" href="http://api.tongbb.net/product/h5/v1?productNo=DDSHNWZSYWX&channelCode=TBB&channelSec=16a5c133cdece9c496902a0371600b5f">产品</a>
            </li>
        </ul>
    </div>
    
</div>
        <div class="container">
            <div class="page-banner-wrapper">
                    <div class="page-banner">
                        <div class="page-banner-bg banner-product-bg">
                            <img class="page-banner-img banner-product-img" src="/img/product.png" alt="">
                        </div>
                        <div class="page-banner-info banner-product-info">
                            <!-- <span class={style.shadow}></span> -->
                            <div class="text">严选优质产品，创新服务模式</div>
                        </div>
                    </div>
                    
            </div>
            <div class="product-wrapper">
                <div class="product">
                    <h3 class="title product-title">产品矩阵</h3>
                    <div class="product-content">
                        <ul class="introduce-wrapper">
                            <li class="introduce-item introduce-item-serve">
                                <div class="introduce-illustration">
                                    <img src="/img/product1.png" alt="专业化的经纪服务"/>
                                </div>
                                
                                <div class="introduce-text">
                                    <h4 class="introduce-title">专业化的经纪服务</h4>
                                    <p class="introduce-info">为需求提供保险方案设计、项目招标、风控咨询、营销推动等多种解决方案，设计与客户所面临的需求相适应的最佳解决方案。</p>
                                </div>
                                
                            </li>
                            <li class="introduce-item introduce-item-resource">
                                <div class="introduce-illustration">
                                    <img src="/img/product2.png" alt="多样化的产品资源"/>
                                </div>
                                
                                <div class="introduce-text">
                                    <h4 class="introduce-title">多样化的产品资源</h4>
                                    <p class="introduce-info">类型丰富的产品库，包含财产险、意外险、健康险、寿险等多款成熟产品，充分满足客户的风险保障需求，为用户提供多样化的解决方案。</p>
                                </div>
                                
                            </li>
                            <li class="introduce-item introduce-item-experience">
                                <div class="introduce-illustration">
                                    <img src="/img/product3.png" alt="定制化的产品体验"/>
                                </div>
                                <div class="introduce-text">
                                    <h4 class="introduce-title">定制化的产品体验</h4>
                                    <p class="introduce-info">为渠道及特定场景的风险提供定制化产品服务，运用大数据、人工智能等科技深度定制，充分契合渠道需求与客户需求，打造更加个性化、贴心化的产品体验。</p>
                                </div>
                               
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-wrapper">
  <div class="copyright">
    Copyright © 2020 金丰（上海）保险经纪有限公司
    <a href="http://beian.miit.gov.cn/" target="_blank">沪ICP备19025860号 </a>
  </div>
</div>

    </div>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/common.js"></script>

</html>