<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
<title>同保呗</title>
<meta name="keywords" content="同保呗"/> 
<meta name="description" content="同保呗--与用户同心,以科技助力,让保险触手可及" />
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport" />
<meta name="renderer" content="webkit">
<link rel="shortcout icon" href="/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="/css/style.css?v=1">
  </head>
  <body>
    <div class="app">
      <div class="header-wrapper">
    <div class="header">
        <div class="nav-toggle">
            <i class="iconfont unfold"></i>
        </div>
        <div class="logo">
            <img src="/img/logo.png" alt="同保呗"/>
        </div>
        
        <ul class="nav">
            <li class="nav-item">
                <a href="/"  >首页</a>
            </li>
            <!-- <li class="nav-item">
                <a href="/product"  class="nav-link active">产品</a>
            </li> -->
            <li class="nav-item">
                <a href="/about" >关于同保呗</a>
            </li>
            <li class="nav-item">
                <a href="/manage" >经营资质</a>
            </li>
            <li class="nav-item">
                <a href="/information" >信息披露</a>
            </li>
            <li class="nav-item">
                <a target="_blank" href="http://api.tongbb.net/product/h5/v1?productNo=DDSHNWZSYWX&channelCode=TBB&channelSec=16a5c133cdece9c496902a0371600b5f">产品</a>
            </li>
        </ul>
    </div>
    
</div>
      <div class="container">
        <div class="page-banner-wrapper">
          <div class="page-banner">
            <div class="page-banner-bg banner-productn-bg">
              <img
                class="page-banner-img banner-productn-img"
                src="/img/productn.png"
                alt=""
              />
            </div>
            <div class="page-banner-info banner-productn-info">
              <!-- <span class={style.shadow}></span> -->
              <div class="text">严选优质产品，创新服务模式</div>
            </div>
          </div>
        </div>
        <div class="productn-wrapper">
          <div class="productn">
              <div class="productn-padding">
                    <div class="productn-nav-wrapper">
                  
                            <div class="productn-nav">
                                <div class="productn-nav-item active" data-title="all">全部产品</div>
                                <div class="productn-nav-item" data-title="accident">综合意外</div>
                                <!-- <div class="productn-nav-item" data-title="medical">百万医疗</div>
                                <div class="productn-nav-item" data-title="illness">重大疾病</div>
                                <div class="productn-nav-item" data-title="life">定期寿险</div> -->
                                <div class="productn-nav-line"></div>
                            </div>
                          </div>
              </div>
             
              
            <div class="productn-all">
              <div class="productn-kind">
                <div class="productn-item" data-title="accident">
                  <div class="productn-title">
                    <div class="productn-logo">
                      <img src="/img/dadi_product.png" alt="" />
                    </div>
                    <div class="productn-name">大地“守护女王”专属意外险</div>
                  </div>
                  <div class="productn-tag">
                    <span class="productn-tag-item">专为女性定制</span>
                    <span class="productn-tag-item">保障全面</span>
                    <span class="productn-tag-item">最高保障110万</span>
                  </div>
                  <div class="productn-detail">
                    <div class="productn-guard">
                      <div class="productn-guard-item">
                        <span class="productn-guard-name">意外伤害</span>
                        <span class="productn-guard-claim">50万</span>
                      </div>
                      <div class="productn-guard-item">
                        <span class="productn-guard-name"
                          >公共交通意外伤害--飞机</span
                        >
                        <span class="productn-guard-claim">50万</span>
                      </div>
                      <div class="productn-guard-item">
                        <span class="productn-guard-name"
                          >公共交通意外伤害--轮船</span
                        >
                        <span class="productn-guard-claim">50万</span>
                      </div>
                      <div class="productn-guard-item">
                        <span class="productn-guard-name">公共交通意外伤害(地铁、轻轨)</span>
                        <span class="productn-guard-claim">50万</span>
                      </div>
                      <div class="productn-guard-item">
                        <span class="productn-guard-name"
                          >公共交通意外伤害--汽车</span
                        >
                        <span class="productn-guard-claim">50万</span>
                      </div>
                      <div class="productn-guard-item">
                        <span class="productn-guard-name"
                          >猝死</span
                        >
                        <span class="productn-guard-claim">10万</span>
                      </div>
                    </div>
                    <div class="productn-price">
                      <div class="productn-fee">
                        <p class="productn-cost">
                          <i>¥</i>
                          <span>118</span>
                          <i>起</i>
                        </p>
                        <p class="productn-sale">销量1份</p>
                      </div>
                      <div class="productn-pay">
                        <a class="productn-pay-btn" href="javascript:void(0);"
                          >立即购买</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="productn-item" data-title="medical">
                  <div class="productn-title">
                    <div class="productn-logo">
                      <img src="/img/dadi_product.png" alt="" />
                    </div>
                    <div class="productn-name">XXXX百万医疗险</div>
                  </div>
                  <div class="productn-tag">
                    <span class="productn-tag-item">覆盖各类交通工具</span>
                    <span class="productn-tag-item">最高保障110万</span>
                    <span class="productn-tag-item">覆盖各类交通工具</span>
                    <span class="productn-tag-item">最高保障110万</span>
                    <span class="productn-tag-item">覆盖各类交通工具</span>
                    <span class="productn-tag-item">最高保障110万</span>
                  </div>
                  <div class="productn-detail">
                    <div class="productn-guard">
                      <div class="productn-guard-item">
                        <span class="productn-guard-name">猝死</span>
                        <span class="productn-guard-claim">10万</span>
                      </div>
                      <div class="productn-guard-item">
                        <span class="productn-guard-name">意外伤害</span>
                        <span class="productn-guard-claim">10万</span>
                      </div>
                      <div class="productn-guard-item">
                        <span class="productn-guard-name"
                          >公共交通意外伤害--飞机</span
                        >
                        <span class="productn-guard-claim">10万</span>
                      </div>
                      <div class="productn-guard-item">
                        <span class="productn-guard-name">猝死</span>
                        <span class="productn-guard-claim">10万</span>
                      </div>
                      <div class="productn-guard-item">
                        <span class="productn-guard-name">意外伤害</span>
                        <span class="productn-guard-claim">10万</span>
                      </div>
                      <div class="productn-guard-item">
                        <span class="productn-guard-name"
                          >公共交通意外伤害--飞机</span
                        >
                        <span class="productn-guard-claim">10万</span>
                      </div>
                    </div>
                    <div class="productn-price">
                      <div class="productn-fee">
                        <p class="productn-cost">
                          <i>¥</i>
                          <span>25</span>
                          <i>起</i>
                        </p>
                        <p class="productn-sale">销量1份</p>
                      </div>
                      <div class="productn-pay">
                        <a class="productn-pay-btn" href="javascript:void(0);"
                          >立即购买</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="productn-item" data-title="illness">
                  <div class="productn-title">
                    <div class="productn-logo">
                      <img src="/img/dadi_product.png" alt="" />
                    </div>
                    <div class="productn-name">XXX重疾险</div>
                  </div>
                  <div class="productn-tag">
                    <span class="productn-tag-item">覆盖各类交通工具</span>
                    <span class="productn-tag-item">最高保障110万</span>
                    <span class="productn-tag-item">覆盖各类交通工具</span>
                    <span class="productn-tag-item">最高保障110万</span>
                    <span class="productn-tag-item">覆盖各类交通工具</span>
                    <span class="productn-tag-item">最高保障110万</span>
                  </div>
                  <div class="productn-detail">
                    <div class="productn-guard">
                      <div class="productn-guard-item">
                        <span class="productn-guard-name">猝死</span>
                        <span class="productn-guard-claim">10万</span>
                      </div>
                      <div class="productn-guard-item">
                        <span class="productn-guard-name">意外伤害</span>
                        <span class="productn-guard-claim">10万</span>
                      </div>
                      <div class="productn-guard-item">
                        <span class="productn-guard-name"
                          >公共交通意外伤害--飞机</span
                        >
                        <span class="productn-guard-claim">10万</span>
                      </div>
                      <div class="productn-guard-item">
                        <span class="productn-guard-name">猝死</span>
                        <span class="productn-guard-claim">10万</span>
                      </div>
                      <div class="productn-guard-item">
                        <span class="productn-guard-name">意外伤害</span>
                        <span class="productn-guard-claim">10万</span>
                      </div>
                      <div class="productn-guard-item">
                        <span class="productn-guard-name"
                          >公共交通意外伤害--飞机</span
                        >
                        <span class="productn-guard-claim">10万</span>
                      </div>
                    </div>
                    <div class="productn-price">
                      <div class="productn-fee">
                        <p class="productn-cost">
                          <i>¥</i>
                          <span>25</span>
                          <i>起</i>
                        </p>
                        <p class="productn-sale">销量1份</p>
                      </div>
                      <div class="productn-pay">
                        <a class="productn-pay-btn" href="javascript:void(0);"
                          >立即购买</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="productn-item" data-title="life">
                  <div class="productn-title">
                    <div class="productn-logo">
                      <img src="/img/dadi_product.png" alt="" />
                    </div>
                    <div class="productn-name">XXX定期寿险</div>
                  </div>
                  <div class="productn-tag">
                    <span class="productn-tag-item">覆盖各类交通工具</span>
                    <span class="productn-tag-item">最高保障110万</span>
                    <span class="productn-tag-item">覆盖各类交通工具</span>
                    <span class="productn-tag-item">最高保障110万</span>
                    <span class="productn-tag-item">覆盖各类交通工具</span>
                    <span class="productn-tag-item">最高保障110万</span>
                  </div>
                  <div class="productn-detail">
                    <div class="productn-guard">
                      <div class="productn-guard-item">
                        <span class="productn-guard-name">猝死</span>
                        <span class="productn-guard-claim">10万</span>
                      </div>
                      <div class="productn-guard-item">
                        <span class="productn-guard-name">意外伤害</span>
                        <span class="productn-guard-claim">10万</span>
                      </div>
                      <div class="productn-guard-item">
                        <span class="productn-guard-name"
                          >公共交通意外伤害--飞机</span
                        >
                        <span class="productn-guard-claim">10万</span>
                      </div>
                      <div class="productn-guard-item">
                        <span class="productn-guard-name">猝死</span>
                        <span class="productn-guard-claim">10万</span>
                      </div>
                      <div class="productn-guard-item">
                        <span class="productn-guard-name">意外伤害</span>
                        <span class="productn-guard-claim">10万</span>
                      </div>
                      <div class="productn-guard-item">
                        <span class="productn-guard-name"
                          >公共交通意外伤害--飞机</span
                        >
                        <span class="productn-guard-claim">10万</span>
                      </div>
                    </div>
                    <div class="productn-price">
                      <div class="productn-fee">
                        <p class="productn-cost">
                          <i>¥</i>
                          <span>25</span>
                          <i>起</i>
                        </p>
                        <p class="productn-sale">销量1份</p>
                      </div>
                      <div class="productn-pay">
                        <a class="productn-pay-btn" href="javascript:void(0);"
                          >立即购买</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="productn-item" data-title="accident">
                  <div class="productn-title">
                    <div class="productn-logo">
                      <img src="/img/dadi_product.png" alt="" />
                    </div>
                    <div class="productn-name">XXX意外险</div>
                  </div>
                  <div class="productn-tag">
                    <span class="productn-tag-item">覆盖各类交通工具</span>
                    <span class="productn-tag-item">最高保障110万</span>
                    <span class="productn-tag-item">覆盖各类交通工具</span>
                    <span class="productn-tag-item">最高保障110万</span>
                    <span class="productn-tag-item">覆盖各类交通工具</span>
                    <span class="productn-tag-item">最高保障110万</span>
                  </div>
                  <div class="productn-detail">
                    <div class="productn-guard">
                      <div class="productn-guard-item">
                        <span class="productn-guard-name">猝死</span>
                        <span class="productn-guard-claim">10万</span>
                      </div>
                      <div class="productn-guard-item">
                        <span class="productn-guard-name">意外伤害</span>
                        <span class="productn-guard-claim">10万</span>
                      </div>
                      <div class="productn-guard-item">
                        <span class="productn-guard-name"
                          >公共交通意外伤害--飞机</span
                        >
                        <span class="productn-guard-claim">10万</span>
                      </div>
                      <div class="productn-guard-item">
                        <span class="productn-guard-name">猝死</span>
                        <span class="productn-guard-claim">10万</span>
                      </div>
                      <div class="productn-guard-item">
                        <span class="productn-guard-name">意外伤害</span>
                        <span class="productn-guard-claim">10万</span>
                      </div>
                      <div class="productn-guard-item">
                        <span class="productn-guard-name"
                          >公共交通意外伤害--飞机</span
                        >
                        <span class="productn-guard-claim">10万</span>
                      </div>
                    </div>
                    <div class="productn-price">
                      <div class="productn-fee">
                        <p class="productn-cost">
                          <i>¥</i>
                          <span>25</span>
                          <i>起</i>
                        </p>
                        <p class="productn-sale">销量1份</p>
                      </div>
                      <div class="productn-pay">
                        <a class="productn-pay-btn" href="javascript:void(0);"
                          >立即购买</a
                        >
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-wrapper">
  <div class="copyright">
    Copyright © 2020 金丰（上海）保险经纪有限公司
    <a href="http://beian.miit.gov.cn/" target="_blank">沪ICP备19025860号 </a>
  </div>
</div>

    </div>
  </body>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/common.js"></script>
  <script>
      const width = $('.productn-nav-wrapper').width();
      const totalWidth = $('.productn-nav').width();
      const unitWidth = 100;
      const maxLeft = totalWidth - width;
      const minLeft = 0;
      const midLeft = (width - unitWidth) / 2;
      let distanceLeft = 0;
      let distanceLineLeft = 0;
      $(".productn-nav-item").click(function() {
        const index = $(this).index();
        const left = $(this).position().left;
        const title = $(this).data('title');
        $(this).addClass('active').siblings().removeClass('active');
        if (title !== 'all') {
          $('.productn-item').css({ display: 'none' });
          $('.productn-item[data-title='+ title +']').css({ display: 'block' });
        } else {
          $('.productn-item').css({ display: 'block' });
        }
        
        const moveLeft = index * unitWidth - midLeft;
        if (moveLeft + unitWidth >= maxLeft) {
            distanceLeft = maxLeft;
        } else if (moveLeft - unitWidth <= minLeft) {
            distanceLeft = minLeft;
        } else {
            distanceLeft = moveLeft;
        }
        $(".productn-nav").css({
            transform: 'translate(-'+ distanceLeft +'px, 0)'
        })

        $(".productn-nav-line").css({
            transform: 'translate('+ (unitWidth * index) +'px, 0)'
        })
      })
  </script>
</html>
