<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="page">
        <%- include('components/top.inc.ejs') %>
        <div class="right-wrap">
            我是首页管理
        </div>
    </div>
</body>
</html>